{% extends "front/base.html.twig" %}

{% block css %}

a, a:link, a:active, a:hover, a:focus, a:visited{
    text-decoration : none;
}

{% endblock %}

{% block title %}Articles{% endblock %}

{% block main %}

    {% for article in articles %}

        {% if article.published %}

            <h2><a href="{{ path("show_article", {'id' : article.id}) }}">{{ article.title }}</a></h2>

            <a href="{{ path("article_like", {'id' : article.id}) }}" class="btn btn-link js-likes">

                <span class="js-likes">{{ article.likes | length }}</span>

                <span class="js-label">J'aime</span>

                <!-- Icône "J'aime" -->

                {% if app.user and article.isLikedByUser(app.user) %}
                
                    <i class="fas fa-thumbs-up"></i>

                {% else %}

                    <i class="far fa-thumbs-up"></i>

                {% endif %}

            </a>

            <a href="{{ path("article_dislike", {'id' : article.id}) }}" class="btn btn-link js-dislikes">

                <span class="js-dislikes">{{ article.dislikes | length }}</span>

                <span class="js-label">Je n'aime pas</span>
            
                <!-- Icône "Je n'aime pas" -->

                {% if app.user and article.isDislikedByUser(app.user) %}

                    <i class="fas fa-thumbs-down"></i>

                {% else %}
                    
                    <i class="far fa-thumbs-down"></i>

                {% endif %}

            </a>

        {% endif %}

    {% endfor %}

{% endblock %}